{% extends './layout.Twig' %}

{% block header %}
    <span>header</span>
{% endblock %}

{% block main %}
    <span>main</span>
{% endblock %}

{% block footer %}
    <span>footer</span>
{% endblock %}

